html, body {
  height: 100%;
  margin: 0;
  text-align: center;
}
body {
  background: url('../img/back.png') no-repeat center center;
  background-size: cover;
  color: #eee;
}
#tagline, #joinus {
  font-family: 'Ubuntu';
  font-size: 2em;
}

#large-logo {
  width: 700px;
  display: block;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 35px;
}

#joinus {
  display: inline-block;
  margin-bottom: 0.5em;
}
#what {
  color: #72f35c;
}
#container {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}
#content {
  display: table-cell;
  vertical-align: middle;
  padding-top: 15px;
}
#email input {
  padding: 0.5em 1em;
  width: 40em;
  text-align: center;
  font-family: 'Ubuntu';
  letter-spacing: 1px;
}

.box {
  margin: 50px auto;
  width:400px;
}
input[type="email"] {
  appearance: none;
  width:380px;
  height:70px;
  font-size:2em;
  background:transparent;
  border:none;
  border-bottom:solid 4px #e6e8eb;
  text-align:center;
  transition: border-color 0.6s ease;
}

::-webkit-input-placeholder {
   color: #464c4c;
   transition: color 0.3s ease;
}

:focus::-webkit-input-placeholder {
   color: transparent;
   transition: color 0.3s ease;
}


input[type="email"]:focus {
  outline:none;
  border:none;
  border-bottom:solid 4px #00AEEF;
  transition: border-color 1s ease;
  color: #fff;
}

input[type="submit"] {
  appearance: none;
  width:380px;
  height:50px;
  font-size:1.05em;
  background:transparent;
  color: #e6e8eb;
  border:none;
  text-align:center;
  letter-spacing:0.15em;
  text-transform:uppercase;
  transition: color 0.5s ease;
  outline:none;
   border:none;
}

input[type="submit"]:hover {
  color: #00AEEF;
  cursor:pointer;
  transition: color 0.5s ease;
}